body {
    color: #EE746E;
    background-color: #f9f9f9;
    margin: 0;
}

#heading {
  background-image: url("Photos/photo-1464305795204-6f5bbfc7fb81.jpeg");
  background-size: 100%;
	height: 75vh;
	background-position: 50% 0%;
	background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  position: relative;
}

h1 {
  /* font-size: 3vh; */
   letter-spacing: 11px;
}

h2 {
  /* font-size: 3vh; */
   letter-spacing: 15px;
}

a {
  padding-right: 1vh;
  font-size: 75%;
}

#hrs {
  background-color: #FFFFFF;
  position:absolute;
  padding: 1%;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 11px;
  font-size: larger;
}

#services {
 position:relative;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#pastry {
  height: 35vh;
}

.sline {
    width: 4%;
    border: 0;
    background-color:#EE746E;
    height: 1px;
    margin: 0;
}

#greyline {
  background-color: #a3aeba;
}

#description {
  color: #999999;
  width: 40%;
  font-size: 22px;
}

#feature {
  background-image: url("Photos/photo-1474045326708-cdc78c2487cb.jpeg");
  background-size: 100%;
  background-position: 40% 70%;
  background-repeat: no-repeat;
  height: 70vh;
  opacity: 0.9;
}

#fod {
  background-color: #FFFFFF;
  position: absolute;
  padding: 1%;
  top: 36vh;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 11px;
  font-size: larger;
}

#day {
  display: flex;
  flex-direction: column;
  justify-content: : center;
  margin-left: 8%;
  padding-top: 12%;
  width: 25%;
}

hr {
  border-style: solid;
/* border-width: 1vh; */
  width: 100%;
}

h3 {
  border-top: 1xp;
}

#desc {
 font-size: 33px;
 margin-top: 0;
 font-style: oblique;
}

#rsv {
  background-color: #FFFFFF;
  position: absolute;
  padding: 1%;
  bottom: -7vh;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 11px;
  font-size: larger;
}

#art {
  margin-right: 10%;
  margin-left: 10%;
  position:relative;
}

.section {
  padding-top: 2%;
}

#order {
  color: #999999;
}

#icons {
  display: flex;
  /* flex-direction: column; */
  /* background-color: red; */
  height: 40vh;
  width: 100%;
  justify-content: center;
  /* padding: 0 10% 0 10%; */
  /* position:absolute; */
}

figure {
  width: fit-content;
  position: relative;
  text-align: center;
}

img {
  height: 100%;
}

.type {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: oblique;
  font-size: 15px;
}

footer {
  /* position: absolute; */
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  
}
